<!doctype html>
<html lang="{{ HTML_LANG }}">	
	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}{{ SITENAME }}{%endblock%}</title>	
		<meta name="author" content="{{ AUTHOR }}">

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">

		<link href='https://fonts.googleapis.com/css?family=Droid+Sans:700,400|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

		<!--[if lt IE 9]>
	  		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		<header class="clearfix" role="banner">
			<div>
				<h1 class="huge"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
			<nav id="top">
				<ul>
					{% for page in PAGES|sort(attribute='page_order') -%}
						{% if page.parent == None -%}
						<li><a href="/{{ page.url }}">{{ page.title }}</a>
							{% if page.children != [] -%}	
							<ul>
							{% for child in page.children|sort(attribute='page_order') -%}
								<li><a href="/{{ child.url }}">{{ child.title }}</a></li>
							{%- endfor %}
							</ul>
							{%- endif %}
						</li>
						{% endif %}
					{%- endfor %}
				</ul>
			</nav>
			</div>
		</header>

		{% block content %}
		{% endblock %}


		<footer class="clearfix">
			<div class="wrapper pages">
				<ul class="nav">
					{% for name, link in LINKS %}
					<li><a href="{{ link }}">{{ name }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class="copy wrapper">
			<ul class="social">
				{% for name, link in SOCIAL %}
				<li><a href="{{ link }}">{{ name }}</a></li>
				{% endfor %}
			</ul>

			<p role="contentinfo"><a href="mailto:{{EMAIL}}">{{ AUTHOR }}</a><br>
			Proudly powered by <a href="http://getpelican.com">Pelican</a> using <a href="https://github.com/kd8zev/pelican-theme-zev">pelican-theme-zev</a></p>
			</div>
		</footer>
	</body>
</html>
